<%= content_for :page_title, t(".title") %>

<%= settings_section title: t(".general") do %>
  <div class="space-y-6">
<<<<<<< HEAD
    <%= render "settings/hostings/synth_settings" %>
=======
    <%= render "settings/hostings/market_data_settings" %>
>>>>>>> 6b5cab33 (Initial commit)
  </div>
<% end %>

<%= settings_section title: t(".invites") do %>
  <%= render "settings/hostings/invite_code_settings" %>
<% end %>

<%= settings_section title: t(".danger_zone") do %>
  <%= render "settings/hostings/danger_zone_settings" %>
<% end %>
